@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="theme">
    <div class="panel-title" style="background-color:deepskyblue; text-align:center;padding:30px; margin-top:0px;box-shadow: 0 0 10px rgba(0,0,0,0.5);">
        Название темы
    </div>
    <div>
        <div class="panel panel-info" style="margin:30px;">
            <div class="panel-title">
                <a>Название форума</a>
            </div>
            <div class="panel-content" style="padding:20px;">
                Описание форума
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-info" style="margin:30px;">
            <div class="panel-title" >
                <a>Название форума</a>
            </div>
            <div class="panel-content" style="padding:20px;">
                Описание форума
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-info" style="margin:30px;">
            <div class="panel-title" >
                <a>Название форума</a>
            </div>
            <div class="panel-content" style="padding:20px;">
                Описание форума
            </div>
        </div>
    </div>
</div>

